.example-card {
  max-width: 400px;
  margin: auto;
  .imgAutosize{
    height: 400px;
    width: 300px;
    object-fit: cover;
  }
}

.example-header-image {
  background-image: url('https://kab-luwutimur.kpu.go.id/images/1681957435Logo%20KPU%201.png');
  background-size: cover;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  padding: 20px;
}


.example-button-row{
  padding: 10px;
  display: grid;
  button{
    margin: auto;
    padding: 10px 20px;
    margin: auto;
  }
}

