.search-w100{
  width: 100%;
}
.f-right{
  float: right;
}
.card{
  .left{
    border-top-right-radius: 0px;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }
  .right{
    border-top-left-radius: 0px;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }
}
